.loginBox {
    -fx-background-color: #E6E6E6;
    -fx-border-color: #A8A8A8;
    -fx-border-width: 1px;
}

.text-field,
.password-field,
.combo-box,
.combo-box .list-view {
    -fx-min-width: 200;
    -fx-pref-width: 200;
}

.button:default {
    -fx-base: #ececec;
}

.separator-with-margin {
    -fx-padding: 10px 0 10px 0;
}