.text { /* fix arabic disjoint font */
    -fx-font-smoothing-type: gray;
}

.root {
    -fx-focus-color: #23A967;
    -fx-faint-focus-color: #23A96722;
}

.progress-indicator {
    -fx-accent: #23A967;
}

#mainPane {
    -fx-background-color: white;
    -fx-border-color: #23A967;
    -fx-border-width: 1px 0 0 0;
}

.background-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.background-overlay-light {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.header {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #23A967;
    -fx-padding: 5px;
    -fx-border-width: 0 0 3px 0;
}

.header .glyph-font, .header .button, .header .text-input {
    -fx-text-fill: #398755;
}

.userBox > .label {
    -fx-text-fill: #398755;
    -fx-graphic-text-gap: 5px;
}

.footer {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-border-color: #23A967;
    -fx-border-width: 3px 0 0 0;
}

.nav {
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-color: #23A967;
    -fx-border-width: 0 1px 0 0;
}

.nav .accordion > .titled-pane {
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #398755;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 10px;
    -fx-padding: 0;
}

.nav .accordion > .titled-pane > .content {
    -fx-border-width: 0;
}

.nav .accordion > .titled-pane > .title {
    -fx-body-color: white;
    -fx-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #23A967;
    -fx-border-width: 0 0 1px 0;
}

.nav .accordion > .titled-pane > .title:hover {
    -fx-body-color: #edfff6;
    -fx-color: #edfff6;
}

.nav .accordion > .titled-pane > .title > .glyph-font {
    -fx-text-fill: #398755;
}

.nav .accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-shape: "M 32 48 L 50 16 L 46 16 L 32 40 L 18 16 L 14 16 z";
    -fx-background-color: #398755;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
}

.nav .accordion > .titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0;
}

/* hide scroll-bar from the list-view inside the navigation menu */
.nav .accordion > .titled-pane .list-view .scroll-bar:vertical .increment-arrow,
.nav .accordion > .titled-pane .list-view .scroll-bar:vertical .decrement-arrow,
.nav .accordion > .titled-pane .list-view .scroll-bar:vertical .increment-button,
.nav .accordion > .titled-pane .list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

.nav .accordion > .titled-pane .list-view {
    -fx-border-width: 0 0 1px 5px;
    -fx-border-color: #398755;
    -fx-effect: null;
}

.nav .accordion > .titled-pane .list-cell {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #398755;
    -fx-border-width: 0 0 1px 0;
    -fx-border-style: dashed;
    -fx-text-fill: #398755;
    -fx-font-weight: normal;
    -fx-selection-bar-non-focused: #edfff6;
}

.nav .accordion > .titled-pane .list-cell:empty {
    -fx-border-width: 0;
}

.nav .accordion > .titled-pane .list-cell:hover {
    -fx-background-color: #edfff6;
}

.nav .accordion > .titled-pane .list-cell:hover:empty {
   -fx-background-color: transparent;
}

.notification-bar > .pane > .label {
    -fx-wrap-text: true;
}

.avatar-border {
    -fx-border-color: #398755;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

.wizard-indicator > .wizard-indicator-circle {
    -fx-fill: #ebebeb;
}

.wizard-indicator:visited > .wizard-indicator-circle {
    -fx-fill: #398755;
}

.wizard-indicator:selected > .wizard-indicator-circle {
    -fx-fill: #0393d2;
}

.wizard-indicator > .wizard-indicator-line {
    -fx-stroke: #ebebeb;
}

.wizard-indicator:visited > .wizard-indicator-line {
    -fx-stroke: #398755;
}

.wizard-indicator:selected > .wizard-indicator-line {
    -fx-stroke: #0393d2;
}

.wizard-indicator > .glyph-font {
    -fx-text-fill: #898989;
}

.wizard-indicator:visited > .glyph-font {
    -fx-text-fill: white;
}

.wizard-indicator:selected > .glyph-font {
    -fx-text-fill: white;
}

.button:default {
    -fx-base: #ececec;
}