#paneSplashScreen {
    -fx-background-image: url("../images/splash_screen.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 620 300;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/amiri-regular.ttf');
}

#txtProgress.label .text {
    -fx-font-size: 10px;
    /*-fx-font-family: 'Amiri';*/
    -fx-fill: white;
}

.progress-bar > .track {
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-accent: #53829a;
}