.small-button {
    -fx-padding: 2px 4px 2px 4px;
    -fx-font-size: 7px;
}

.old-value {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.new-value {
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.old-value-border {
    -fx-border-color: red;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
}

.new-value-border {
    -fx-border-color: green;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
}

.titled-pane > .title {
    -fx-alignment: center;
}