.titled-pane > .title {
    -fx-alignment: center;
}

.selection-rectangle {
    -fx-fill: transparent;
    -fx-stroke: green;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 2 4;
    -fx-stroke-type: outside;
}
.selection-drag-handle {
    -fx-fill: rgba( 0, 128, 0, 0.6); /*green = #008000 */
    -fx-stroke: green;
    -fx-stroke-width: 1;
    -fx-stroke-type: inside;
}