.date-picker-check-box {
    -fx-font-size: 11;
}

.date-picker-check-box > .box > .mark {
    -fx-padding: 4;
}

.titled-pane > .title {
    -fx-alignment: center;
}

.white-background {
    -fx-background-color: white;
}

.hidden-divider *.split-pane-divider {
    -fx-padding: 1 0 1 0;
}