.date-picker-check-box {
    -fx-font-size: 11;
}

.date-picker-check-box > .box > .mark {
    -fx-padding: 4;
}

.titled-pane > .title {
    -fx-alignment: center;
}

.white-background {
    -fx-background-color: white;
}

.hidden-divider *.split-pane-divider {
    -fx-padding: 1 0 1 0;
}

.four-state-titled-pane:active > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #d6e9fa;
    -fx-font-weight: bolder;
}

.four-state-titled-pane:active {
    -fx-text-fill: #1c5f87;
}

.four-state-titled-pane:active:captured > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #f7fac0;
    -fx-font-weight: bolder;
}

.four-state-titled-pane:active:captured {
    -fx-text-fill: #877d00;
}

.four-state-titled-pane:active:captured:valid > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #c7fad6;
    -fx-font-weight: bolder;
}

.four-state-titled-pane:active:captured:valid {
    -fx-text-fill: #398755;
}

.four-state-titled-pane:active:captured:duplicated > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #fab4ae;
    -fx-font-weight: bolder;
}

.four-state-titled-pane:active:captured:duplicated {
    -fx-text-fill: #b30002;
}

.four-state-titled-pane:disabled > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), -fx-inner-border, -fx-body-color;
    -fx-font-weight: normal;
}

.four-state-titled-pane:disabled {
    -fx-text-fill: fx-text-base-color;
}

.four-state-svg-path {
    -fx-fill: black;
}

.four-state-svg-path:active {
    -fx-fill: #2382b7;
}

.four-state-svg-path:active:captured {
    -fx-fill: #cec100;
}

.four-state-svg-path:active:captured:valid {
    -fx-fill: #398755;
}

.four-state-svg-path:active:captured:duplicated {
    -fx-fill: #b30002;
}

.four-state-svg-path:disabled {
    -fx-fill: #7f8787;
}