.date-picker-check-box {
    -fx-font-size: 11;
}

.date-picker-check-box > .box > .mark {
    -fx-padding: 4;
}

.titled-pane > .title {
    -fx-alignment: center;
}

.white-background {
    -fx-background-color: white;
}

.hidden-divider *.split-pane-divider {
    -fx-padding: 1 0 1 0;
}

.three-state-titled-pane:active > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #d6e9fa;
    -fx-font-weight: bolder;
}

.three-state-titled-pane:active {
    -fx-text-fill: #1c5f87;
}

.three-state-titled-pane:active:captured > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #f7fac0;
    -fx-font-weight: bolder;
}

.three-state-titled-pane:active:captured {
    -fx-text-fill: #877d00;
}

.three-state-titled-pane:active:captured:valid > .title {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color,-15%) 95%, derive(-fx-color,-25%) 100%), #c7fad6;
    -fx-font-weight: bolder;
}

.three-state-titled-pane:active:captured:valid {
    -fx-text-fill: #398755;
}

.three-state-svg-path {
    -fx-fill: black;
}

.three-state-svg-path:active {
    -fx-fill: #2382b7;
}

.three-state-svg-path:active:captured {
    -fx-fill: #cec100;
}

.three-state-svg-path:active:captured:valid {
    -fx-fill: #398755;
}