.titled-pane > .title {
    -fx-alignment: center;
}

.menu-item{
    -fx-min-width: 200;
    -fx-pref-width: 200;
}

.menu-item:focused {
 -fx-background-color : SteelBlue ;

}
.context-menu {
     -fx-background-radius: 5px;
}

.image-border {
    -fx-border-color: #398755;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}