.titled-pane > .title {
    -fx-alignment: center;
}

.active-record {
    -fx-control-inner-background: white;
}

.old-record {
    -fx-control-inner-background: #f3c4a7;
}

.old-record-legend {
    -fx-background-color: #f3c4a7;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
}
