.titled-pane > .title {
    -fx-alignment: center;
}

.fingerprint-rectangle {
    -fx-fill: rgba( 0, 160, 0, 0.3);
    -fx-stroke: rgba( 0, 80, 0, 0.8);
    -fx-stroke-width: 1;
}

.fingerprint-rectangle-selected {
    -fx-fill: rgba(77, 160, 200, 0.3);
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}

.fingerprint-rectangle-disabled {
    -fx-fill: rgba( 100, 100, 100, 0.3);
    -fx-stroke: rgba( 100, 100, 100, 0.8);
    -fx-stroke-width: 1;
}

.selection-rectangle {
    -fx-fill: transparent;
    -fx-stroke: rgba( 0, 0, 140, 1.0);
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 2 4;
}
.selection-drag-handle {
    -fx-fill: rgba( 0, 0, 140, 1.0);
    -fx-stroke: rgba( 0, 0, 140, 1.0);
    -fx-stroke-width: 1;
    -fx-stroke-type: inside;
}

.text-field,
.password-field,
.combo-box,
.combo-box .list-view {
    -fx-min-width: 200;
    -fx-pref-width: 200;
}